name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

# Important: we need write permission to upload report
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. fetch code
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. build Docker Image
    - name: Build Docker image
      run: docker build -t zh-trees-analysis .

    # 3. Unit Tests (CI Part)
    - name: Run Unit Tests
      run: docker run --rm zh-trees-analysis python -m pytest tests/

    # 4. Generate Report (CD preparation)
    # we mount the local directory "output" in the container and the file index.html lands on the GitHub-Server
    - name: Generate Report
      run: |
        mkdir -p output
        docker run --rm -v $(pwd)/output:/app/output zh-trees-analysis

    # 5. Publication on GitHub (CD Part)
    # This step writes the content of "output" on the website
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./output
